// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         blue;
$brown:                 #63302C;
$green:                 #006F60;
$light-tan:             #FFFBF6;
$dark-tan:              #E9E2D4;

// units 
$padding-unit:           1em;
