footer {
  padding: 1.5 * $padding-unit $padding-unit;
  background: $light-tan;
  position: relative;
}

footer .container p {
  float: left;
  @media(max-width: $on-mobile){
    display: block;
    margin-top: 2*$padding-unit;
    margin-bottom: - 10px;
    float: none;
    text-align: center;
  }
  line-height: 37px;
  margin-bottom: 0px;
  color: $brown;
}

footer .container div {
  float: right;
  @media(max-width: $on-mobile){
    margin-top: 2*$padding-unit;
    float: none;
    display: block;
    text-align: center;
  }
}

$icon-height: 90px;

.logo-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: - $icon-height / 2;
  height: $icon-height;
}

