header {
  padding: $padding-unit 0px;
  background: $light-tan;

  a {
    float: left;
  }

  img {
    height: 39px;
  }
  ul {
    float: right;
  }

  li {
    float: left;

    a {
      color: $brown;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  li:not(:last-child) {
    border-right: 2px solid $dark-tan;
  }
}

