$menu-height: 45px;
$small-menu-height: $menu-height - 10;
header {


  ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0px 0px;
  }

  li {
    width: 100px;
    display: inline-block;

    a {
      color: $brown;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      line-height: $menu-height;
      display: block;
    }
  }

  li:not(:last-child) {
    border-right: 2px solid $dark-tan;
  }

  .small-menu {
    @media(min-width: $on-mobile){
      display: none;
    }
    padding: $padding-unit 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: $light-tan;
    z-index: 10;
    border-bottom: 4px solid $dark-tan;

    i:hover {
      cursor: pointer;
    }

    img {
      height: $small-menu-height - 5;
    }
    ul {
      height: $small-menu-height;
    }

    a {
      line-height: $small-menu-height;

    }
  }

  .large-menu {
    @media(max-width: $on-mobile){
      display: none;
    }
    
    padding: $padding-unit/2 0px 0px 0px;
    img {
      height: $menu-height * 3;
    }

    li {
      margin-top: $menu-height;
    }

    ul {
      height: $menu-height * 3;
    }

  }

  .mobile-menu {
    position: fixed;
    background: $brown;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 11;

    i {
      color: $light-tan;
      position: fixed;
      top: $padding-unit;
      right: $padding-unit;
    }

    i:hover {
      cursor: pointer;
    }

    a {
      color: $light-tan;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4em;
      line-height: 2.2em;
      font-weight: bold;
    }
  }
}

