.button {
  border: 3px solid $brown;
  font-size: 1.1em;
  padding: $padding-unit/2 $padding-unit;
  padding-bottom: $padding-unit/2 - 5;
  color: $brown;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: $padding-unit;
  display: block;
  transition: background-color 0.3s, border 0.3s;
}

#events .button {
  min-width: 210px;
}

.button.active, .active .button, .button.green {
  color: $light-tan;
  background-color: $green;
  border: 3px solid $green;

  &.button:hover{
    color: $light-tan !important;
    background-color: $green !important;
  }
  &.button.green:hover {
    color: $light-tan !important;
    background-color: $brown !important;
    border: 3px solid $brown;
  }
}


.button:hover {
  color: $light-tan;
  text-decoration: none;
  background: transparentize($green, 0.15);
  border: 3px solid transparentize($green, 0.15);
}

.icon-link {
  color: $brown;
  .fa.fa-inverse {
    color: $light-tan;
  }
}

