.button {
  border: 3px solid $brown;
  font-size: 1.2em;
  padding: $padding-unit/2 $padding-unit;
  padding-bottom: $padding-unit/2 - 5;
  color: $brown;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: $padding-unit;
  display: block;
}

#events .button {
  min-width: 210px;
}

.button.active, .active .button {
  color: $light-tan;
  background-color: $green;
  border: 3px solid $green;

  &.button:hover{
    color: $light-tan !important;
    background-color: $green !important;
  }
}

.button:hover {
  color: $brown;
  text-decoration: none;
  background: $light-tan;
}

.icon-link {
  color: $brown;
  .fa.fa-inverse {
    color: $light-tan;
  }
}

